[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11.1"
